.papercutsPlayerProgress {
  position: 0 0;
  height: 'auto';
}

.papercutsPlayerProgressBack {
  background: grey;
}

.papercutsPlayerProgressFront {
  background: red;
  height: 8px;
}

.papercutsPlayerProgressTrack {
  height: 8px;
  opacity: 0.2;
  background: black;
  display: block;
  float: left;
}

.papercutsPlayerProgressTrack>div {
  height: inherit;
  width: 2px;
  opacity: 1;
  background-color: grey;
}

.papercutsPlayerProgressTrackBuffer{
  height: 1px;
  opacity: 0;
}
