.speaker{
    font-weight: bold;
    color: #696969;
    overflow: hidden;
    text-transform: uppercase;
}


.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } 